.hide{
    display: none;
}

.post {
    height: 25px;
}

.container {
    display: block;
    width: 50%;
    justify-content: space-around;
    height: 90px;
}

.userControls {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.btn {
    width: max-content;
}

#question-container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
}

#answer-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#answer-buttons {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

@media only screen and (max-width: 700px) { 
    #answer-container {
        display: block;
        height: 200px;
        justify-content: space-around;
    }

    #answer-buttons {
        display: flex;
        flex-direction: column;
        height: 150px;
        justify-content: space-around;
    }

    .new-answer-btn {
        width: fit-content;
    }
}